include deepsmorfnet/bin/hmmscan
include deepsmorfnet/bin/hmmsearch
include deepsmorfnet/bin/prodigal
include deepsmorfnet/data/hmm/smorfams.hmm
include deepsmorfnet/data/keras/precise_model.h5
include deepsmorfnet/data/keras/sensitive_model.h5
